@keyframes pisca {
    0% {
        opacity: 0.2;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.2;
    }
}


body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;

}

.urna {
    background-color: #dbd5c9;
    padding: 30px;
    display: flex;
    margin-top: 25px;
    flex-wrap: wrap;
   
}

.tela {
    /* width: 100%; */
    max-width: 500px;
    height: 320px;
    background: linear-gradient(to right, #E8E8E8, #C1C1C1);
    border: 2px solid;
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.teclado {
    margin-left: 30px;
    width: 300px;
    background-color: #403A3A;
}

.teclado--botao {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 40px;
    background-color: tomato;
    border-radius: 5px;
    color: white;
    font-size: 25px;
    margin: 10px;
    cursor: pointer;
    box-shadow: 3px 3px 0px #4db67c;
}

.teclado--linha {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.botao--branco {
    background-color: #fff;
    color: black;
    font-size: 16px;
}

.botao--corrige {
    background-color: orange;
    color: black;
    font-size: 15px;
}

.botao--confirma {
    background-color: green;
    color: black;
    font-size: 15px;
    width: 90px;
    height: 50px;
}

.d-1 {
    flex: 1;
    display: flex;
}

.d-1-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}


.d-1-1 {
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.d-1-2 {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-1-3 {
    height: 50px;
}

.numero {
    text-align: center;
    line-height: 40px;
    align-items: center;
    display: inline-block;
    width: 30px;
    height: 40px;
    border: 1px solid #000;
    background-color: white;
    font-size: 25px;
}

.pisca {
    animation-name: pisca;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.d-1-4 {
    flex: 1;

    line-height: 30px;
}

.d-1-right {
    width: 90px;
    margin-right: 50px;
    display: grid;
    justify-items: center;
   
}
.d-2 {
    height: 50px;
    font-size: 15px;
    border-top: 2px solid black;
    padding: 10px;
}



.d-1-image img {
    display: flex;
    border: 1px solid #000;
    background-color: white;
    width: 50px; 
    text-align: center;
    margin: 10px;
}

.d-2-image img {
    display: flex;
    justify-content: space-around;
    border: 1px solid #000;
    background-color: white;
    width: 100%;
    text-align: center;
    margin: 10px;
}
.nomeCanditado{
    text-align: center;
}

.aviso--grande{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

.aviso--gigante{
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


